<div ng-app="esaApp" ng-controller="searchController">
    <div class="text-center">
        <form ng-submit="submit()">
            <h4>Search</h4>
            <input type="text" size="60" name="input" ng-model="search.query" ng-trim="true">
            <input type="submit" id="submit" value="Submit" />
        </form>
    </div>
    <br/>
    <br/>
    <div ng-show="waiting">
        <img class="center-block" src="/static/img/spinner.gif">
    </div>
    <div ng-show="search.hits">
        <p class="text-center"><em>Query complete in {{ search.queryTime }} ms.</em></p>
        <!-- <p class="text-center"><em>
            <span ng-repeat="concept in search.queryConcepts">
                {{ concept.concept }} : {{ concept.score }},
            </span>
        </em></p> -->
    </div>
    <hr/>
    <div ng-show="search.hits">
        <h4 class="text-center">Results</h4>
        <br/>
        <div class="col-sm-1"></div>
        <div class="col-lg-7">
            <div ng-repeat="hit in search.hits">
                <h5><a href="javascript:;">{{ hit._source.title }}</a></h5>
                <p>{{ hit._source.abstract ? hit._source.abstract : "No abstract available." }}</p>
                <p><em>
                    <span ng-repeat="concept in hit._source.concepts">
                        {{ concept.concept }} : {{ concept.score }},
                    </span>
                </em></p>
            <br/>
            </div>
        </div>
    </div>
</div>
